<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <title>{% print(eta_data["route"]) %} {% print(eta_data["route_src"]) %} {% print(eta_data["route_dest"]) %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<style>
  .container-fluid {
    margin: 0px;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    color: white;
  }

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }

    50% {
      background-position: 100% 50%;
    }

    100% {
      background-position: 0% 50%;
    }
  }
</style>

<body>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand" href="../../../../../">到站時間</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="../../../../">Home <span class="sr-only"></span></a>
        </li>
        <!-- <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li> -->
      </ul>
      <!-- <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" id="myInput" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form> -->
    </div>
  </nav>
  <div class="container-fluid" style="padding-bottom: 10pxp;">
    <div class="row">
      <div class="jumbotron-fluid col-sm-3">
        <h1 style="font-size: 5rem; padding-left: 1rem">{% print(eta_data["route"]) %}</h1>
      </div>
      <div class="col-sm-9">
        <div class="row" style="padding-left: 2rem">
          {% print(eta_data["eta_title"]) %}
          <hr>
        </div>
        <div class="row" style="padding-left: 2rem">
          {% print(eta_data["eta_current_time"]) %}
        </div>

        <div class="row" style="padding-left: 2rem">
          {% for eta in eta_data["eta_list"]: %}
          <hr>
          {% print(eta) %}
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="row">
      <!-- <div class="col">
        <button type="button" class="btn btn-primary btn-sm btn-block"><a class="text-white"
            href="../{{stop_code-1}}/">上一個站</a></button>
      </div>
      <div class="col">
        <button type="button" class="btn btn-primary btn-sm btn-block"><a class="text-white"
            href="../../">上一頁</a></button>
      </div>
      <div class="col">
        <button type="button" class="btn btn-primary btn-sm btn-block"><a class="text-white"
            href="../{{stop_code+1}}/">下一個站</a></button>
      </div> -->
      <div class="col">

        <div class="btn-group btn-group-lg" role="group" aria-label="navigation" style="width: 100%">
          <button type="button" class="btn btn-link"><a class="text-white" href="../{{stop_code-1}}/">上一個站</a></button>
          <button type="button" class="btn btn-link"><a class="text-white" href="../../">上一頁</a></button>
          <button type="button" class="btn btn-link"><a class="text-white" href="../{{stop_code+1}}/">下一個站</a></button>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">


  </div>

  <script>
    $(document).ready(function () {
      $("#myInput").on("keyup", function () {
        var value = $(this).val().toLowerCase();
        $("#myTable tr").filter(function () {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
    });
  </script>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

</body>

</html>